# Notebook for data split and transform for dynamic graph model 
## This notebook consists of steps to 
1. process raw data into edge, node list data for the data loader for model training 
2. train/test data split

In [1]:
import pandas as pd
import numpy as np

# Load raw data

In [2]:
raw_data_path = '../../data/01_raw/financial_fraud/bs140513_032310.csv'

In [3]:
raw_trans_data = pd.read_csv(raw_data_path)

In [4]:
raw_trans_data.shape

(594643, 10)

### sort the raw data by time step index

In [5]:
raw_trans_data.head(10) #seems the raw data is already sorted by time step

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
0,0,'C1093826151','4','M','28007','M348934600','28007','es_transportation',4.55,0
1,0,'C352968107','2','M','28007','M348934600','28007','es_transportation',39.68,0
2,0,'C2054744914','4','F','28007','M1823072687','28007','es_transportation',26.89,0
3,0,'C1760612790','3','M','28007','M348934600','28007','es_transportation',17.25,0
4,0,'C757503768','5','M','28007','M348934600','28007','es_transportation',35.72,0
5,0,'C1315400589','3','F','28007','M348934600','28007','es_transportation',25.81,0
6,0,'C765155274','1','F','28007','M348934600','28007','es_transportation',9.10,0
7,0,'C202531238','4','F','28007','M348934600','28007','es_transportation',21.17,0
8,0,'C105845174','3','M','28007','M348934600','28007','es_transportation',32.40,0
9,0,'C39858251','5','F','28007','M348934600','28007','es_transportation',35.40,0

In [6]:
raw_trans_data.tail(10)

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
594633,179,'C1039390058','4','M','28007','M45060432','28007','es_hotelservices',190.31,0
594634,179,'C728039227','6','M','28007','M348934600','28007','es_transportation',27.93,0
594635,179,'C728039227','6','M','28007','M1823072687','28007','es_transportation',30.04,0
594636,179,'C1904086644','5','F','28007','M1823072687','28007','es_transportation',28.93,0
594637,179,'C748358246','2','M','28007','M1823072687','28007','es_transportation',51.17,0
594638,179,'C1753498738','3','F','28007','M1823072687','28007','es_transportation',20.53,0
594639,179,'C650108285','4','F','28007','M1823072687','28007','es_transportation',50.73,0
594640,179,'C123623130','2','F','28007','M349281107','28007','es_fashion',22.44,0
594641,179,'C1499363341','5','M','28007','M1823072687','28007','es_transportation',14.46,0
594642,179,'C616528518','4','F','28007','M1823072687','28007','es_transportation',26.93,0

In [7]:
raw_net_data_path = '../../data/01_raw/financial_fraud/bsNET140513_032310.csv'

In [8]:
raw_net_trans_data = pd.read_csv(raw_net_data_path)

In [9]:
raw_net_trans_data.shape

(594643, 5)

In [10]:
raw_net_trans_data.head(10)

          Source         Target  Weight            typeTrans  fraud
0  'C1093826151'   'M348934600'    4.55  'es_transportation'      0
1   'C352968107'   'M348934600'   39.68  'es_transportation'      0
2  'C2054744914'  'M1823072687'   26.89  'es_transportation'      0
3  'C1760612790'   'M348934600'   17.25  'es_transportation'      0
4   'C757503768'   'M348934600'   35.72  'es_transportation'      0
5  'C1315400589'   'M348934600'   25.81  'es_transportation'      0
6   'C765155274'   'M348934600'    9.10  'es_transportation'      0
7   'C202531238'   'M348934600'   21.17  'es_transportation'      0
8   'C105845174'   'M348934600'   32.40  'es_transportation'      0
9    'C39858251'   'M348934600'   35.40  'es_transportation'      0

# Process edge data for dynamic graph model 
## Customer can be treated as source node and merchant can be treated as target node

In [24]:
#edges = raw_net_trans_data[['Source','Target']]
edges = raw_trans_data[['step','customer','merchant','category','amount','fraud']]

In [25]:
edges

        step       customer       merchant             category  amount  fraud
0          0  'C1093826151'   'M348934600'  'es_transportation'    4.55      0
1          0   'C352968107'   'M348934600'  'es_transportation'   39.68      0
2          0  'C2054744914'  'M1823072687'  'es_transportation'   26.89      0
3          0  'C1760612790'   'M348934600'  'es_transportation'   17.25      0
4          0   'C757503768'   'M348934600'  'es_transportation'   35.72      0
...      ...            ...            ...                  ...     ...    ...
594638   179  'C1753498738'  'M1823072687'  'es_transportation'   20.53      0
594639   179   'C650108285'  'M1823072687'  'es_transportation'   50.73      0
594640   179   'C123623130'   'M349281107'         'es_fashion'   22.44      0
594641   179  'C1499363341'  'M1823072687'  'es_transportation'   14.46      0
594642   179   'C616528518'  'M1823072687'  'es_transportation'   26.93      0

[594643 rows x 6 columns]

In [26]:
edges['category'].value_counts(normalize=True)

'es_transportation'        0.849449
'es_food'                  0.044151
'es_health'                0.027131
'es_wellnessandbeauty'     0.025370
'es_fashion'               0.010854
'es_barsandrestaurants'    0.010717
'es_hyper'                 0.010255
'es_sportsandtoys'         0.006730
'es_tech'                  0.003986
'es_home'                  0.003340
'es_hotelservices'         0.002933
'es_otherservices'         0.001534
'es_contents'              0.001488
'es_travel'                0.001224
'es_leisure'               0.000839
Name: category, dtype: float64

In [27]:
edges = edges.loc[edges.customer!=edges.merchant]
edges

        step       customer       merchant             category  amount  fraud
0          0  'C1093826151'   'M348934600'  'es_transportation'    4.55      0
1          0   'C352968107'   'M348934600'  'es_transportation'   39.68      0
2          0  'C2054744914'  'M1823072687'  'es_transportation'   26.89      0
3          0  'C1760612790'   'M348934600'  'es_transportation'   17.25      0
4          0   'C757503768'   'M348934600'  'es_transportation'   35.72      0
...      ...            ...            ...                  ...     ...    ...
594638   179  'C1753498738'  'M1823072687'  'es_transportation'   20.53      0
594639   179   'C650108285'  'M1823072687'  'es_transportation'   50.73      0
594640   179   'C123623130'   'M349281107'         'es_fashion'   22.44      0
594641   179  'C1499363341'  'M1823072687'  'es_transportation'   14.46      0
594642   179   'C616528518'  'M1823072687'  'es_transportation'   26.93      0

[594643 rows x 6 columns]

In [28]:
edges.shape

(594643, 6)

### check duplicated (customer, merchant) pairs

In [52]:
customer_merchant_trans_count = edges.groupby(by=['customer','merchant']).agg({'step':'count'}) #there are 47132 unique pairs 
customer_merchant_trans_count

                             step
customer      merchant
'C1000148617' 'M1053599405'     1
              'M1400236507'     1
              'M1741626453'     1
              'M1823072687'    92
              'M1842530320'     1
...                           ...
'C999723254'  'M348934600'     27
              'M349281107'      1
              'M480139044'      1
              'M855959430'      2
              'M85975013'       8

[47132 rows x 1 columns]

In [32]:
customer_merchant_trans_fraud = edges.groupby(by=['customer','merchant']).agg({'fraud':'sum'})
customer_merchant_trans_fraud

                             fraud
customer      merchant
'C1000148617' 'M1053599405'      0
              'M1400236507'      0
              'M1741626453'      0
              'M1823072687'      0
              'M1842530320'      0
...                            ...
'C999723254'  'M348934600'       0
              'M349281107'       0
              'M480139044'       1
              'M855959430'       0
              'M85975013'        0

[47132 rows x 1 columns]

In [33]:
customer_merchant_trans_fraud.columns

Index(['fraud'], dtype='object')

### Oberservation: 1065 (customer, merchant) pairs had been flagged as fraud for more than 1 time

In [34]:
customer_merchant_trans_fraud.loc[customer_merchant_trans_fraud.fraud>1]

                            fraud
customer      merchant
'C1001065306' 'M17379832'       2
              'M480139044'      3
              'M980657600'      2
'C1007572087' 'M732195782'      2
'C1013313546' 'M980657600'      2
...                           ...
'C974315171'  'M980657600'      3
'C980181294'  'M480139044'      2
              'M732195782'      2
'C989137613'  'M732195782'      2
'C995844287'  'M980657600'      2

[1065 rows x 1 columns]

### Oberservation: 1108 (customer, merchant) pairs had changing labels

In [35]:
customer_merchant_trans_fraud_consistency = edges.groupby(by=['customer','merchant']).agg({'fraud':'mean'})
customer_merchant_trans_fraud_consistency

                             fraud
customer      merchant
'C1000148617' 'M1053599405'    0.0
              'M1400236507'    0.0
              'M1741626453'    0.0
              'M1823072687'    0.0
              'M1842530320'    0.0
...                            ...
'C999723254'  'M348934600'     0.0
              'M349281107'     0.0
              'M480139044'     1.0
              'M855959430'     0.0
              'M85975013'      0.0

[47132 rows x 1 columns]

In [43]:
customer_merchant_trans_fraud_consistency.loc[(customer_merchant_trans_fraud_consistency.fraud!=1) & (customer_merchant_trans_fraud_consistency.fraud!=0) ]

                                fraud
customer      merchant
'C100045114'  'M1198415165'  0.250000
              'M2122776122'  0.500000
'C1001065306' 'M480139044'   0.500000
              'M50039827'    0.200000
              'M980657600'   0.666667
...                               ...
'C995844287'  'M1198415165'  0.333333
              'M855959430'   0.200000
'C997029022'  'M480139044'   0.333333
'C998690782'  'M732195782'   0.500000
'C999393223'  'M855959430'   0.250000

[1108 rows x 1 columns]

# Dedupe (customer, merchant) pair, only keep the last transaction (the latest)

In [45]:
edges.shape

(594643, 6)

In [46]:
edges_deduped = edges.drop_duplicates(subset=['customer','merchant'], keep='last', )

In [47]:
edges_deduped.shape

(47132, 6)

In [50]:
edges_deduped.shape

(47132, 6)

In [53]:
edges_deduped.groupby(by=['customer','merchant']).agg({'step':'count'})

                             step
customer      merchant
'C1000148617' 'M1053599405'     1
              'M1400236507'     1
              'M1741626453'     1
              'M1823072687'     1
              'M1842530320'     1
...                           ...
'C999723254'  'M348934600'      1
              'M349281107'      1
              'M480139044'      1
              'M855959430'      1
              'M85975013'       1

[47132 rows x 1 columns]

In [54]:
edges_deduped, edges_deduped.index

(        step       customer       merchant             category  amount  fraud
 12         0   'C623601481'    'M50039827'          'es_health'   68.79      0
 148        0  'C2092526272'   'M840466850'            'es_tech'  163.56      0
 153        0   'C661876608'  'M1741626453'   'es_sportsandtoys'   11.83      0
 194        0  'C1436756684'   'M692898500'          'es_health'  187.62      0
 218        0  'C1960866892'   'M855959430'           'es_hyper'   22.65      0
 ...      ...            ...            ...                  ...     ...    ...
 594638   179  'C1753498738'  'M1823072687'  'es_transportation'   20.53      0
 594639   179   'C650108285'  'M1823072687'  'es_transportation'   50.73      0
 594640   179   'C123623130'   'M349281107'         'es_fashion'   22.44      0
 594641   179  'C1499363341'  'M1823072687'  'es_transportation'   14.46      0
 594642   179   'C616528518'  'M1823072687'  'es_transportation'   26.93      0

 [47132 rows x 6 columns],
 Int64Index([    12,    148,    153,    194,    218,    227,    253,    256,
                282,    283,
             ...
             594633, 594634, 594635, 594636, 594637, 594638, 594639, 594640,
             594641, 594642],
            dtype='int64', length=47132))

In [59]:
edges_array = np.array(edges_deduped[['customer','merchant']])

In [60]:
edges_array, edges_array.shape

(array([["'C623601481'", "'M50039827'"],
        ["'C2092526272'", "'M840466850'"],
        ["'C661876608'", "'M1741626453'"],
        ...,
        ["'C123623130'", "'M349281107'"],
        ["'C1499363341'", "'M1823072687'"],
        ["'C616528518'", "'M1823072687'"]], dtype=object),
 (47132, 2))

### convert str ids to int indexes

In [61]:
vertexs, edges_1d = np.unique(edges_array, return_inverse=True)

In [62]:
vertexs, len(vertexs)

(array(["'C1000148617'", "'C100045114'", "'C1000699316'", ...,
        "'M933210764'", "'M97925176'", "'M980657600'"], dtype=object),
 4162)

### save str ids to int indexes mapping

In [63]:
vertex_to_id = {}
for i,vertex in enumerate(vertexs):
    vertex_to_id.setdefault(vertex,i)

In [66]:
vertex_to_id

{"'C1000148617'": 0,
 "'C100045114'": 1,
 "'C1000699316'": 2,
 "'C1001065306'": 3,
 "'C1002658784'": 4,
 "'C1002759277'": 5,
 "'C1004109477'": 6,
 "'C1004300450'": 7,
 "'C1004532392'": 8,
 "'C1005126300'": 9,
 "'C1005495267'": 10,
 "'C1005806982'": 11,
 "'C1006176917'": 12,
 "'C1007572087'": 13,
 "'C1007790716'": 14,
 "'C1008918174'": 15,
 "'C1009080922'": 16,
 "'C100992504'": 17,
 "'C10105795'": 18,
 "'C1010589026'": 19,
 "'C1010865894'": 20,
 "'C1010936270'": 21,
 "'C1011693897'": 22,
 "'C1012876398'": 23,
 "'C1013199152'": 24,
 "'C1013313546'": 25,
 "'C1014010834'": 26,
 "'C1014124305'": 27,
 "'C1014313887'": 28,
 "'C1014347664'": 29,
 "'C1014783484'": 30,
 "'C1014847580'": 31,
 "'C1017469037'": 32,
 "'C1017941602'": 33,
 "'C1018153896'": 34,
 "'C1018388493'": 35,
 "'C1018653381'": 36,
 "'C1018783569'": 37,
 "'C1018979501'": 38,
 "'C1019071188'": 39,
 "'C1019678929'": 40,
 "'C1020019215'": 41,
 "'C102010508'": 42,
 "'C1020192133'": 43,
 "'C1020355960'": 44,
 "'C1021409246'": 45,
 "'C1021896897'": 46,
 "'C1022153336'": 47,
 "'C1022530210'": 48,
 "'C102256008'": 49,
 "'C1022713215'": 50,
 "'C102364766'": 51,
 "'C1023694383'": 52,
 "'C1023803355'": 53,
 "'C1025104996'": 54,
 "'C10263180'": 55,
 "'C1027777422'": 56,
 "'C1028143403'": 57,
 "'C1028995887'": 58,
 "'C1029994689'": 59,
 "'C1030484150'": 60,
 "'C1030975170'": 61,
 "'C1031698099'": 62,
 "'C1032319289'": 63,
 "'C103240070'": 64,
 "'C1032715879'": 65,
 "'C1033416330'": 66,
 "'C1033736586'": 67,
 "'C1033848759'": 68,
 "'C1034685704'": 69,
 "'C1035154937'": 70,
 "'C1035222482'": 71,
 "'C1035581047'": 72,
 "'C1035666255'": 73,
 "'C1035681921'": 74,
 "'C1036903280'": 75,
 "'C1037161656'": 76,
 "'C1037622786'": 77,
 "'C1038215695'": 78,
 "'C1038277619'": 79,
 "'C1038329920'": 80,
 "'C1038722314'": 81,
 "'C1038733568'": 82,
 "'C1038879380'": 83,
 "'C1038996959'": 84,
 "'C1039035065'": 85,
 "'C1039390058'": 86,
 "'C1039748502'": 87,
 "'C103995111'": 88,
 "'C1040272582'": 89,
 "'C1040303644'": 90,
 "'C1040405455'": 91,
 "'C1040980271'": 92,
 "'C1043282651'": 93,
 "'C1043677034'": 94,
 "'C104392148'": 95,
 "'C1043944424'": 96,
 "'C1045214627'": 97,
 "'C1045324088'": 98,
 "'C1045652139'": 99,
 "'C1045850211'": 100,
 "'C1046896257'": 101,
 "'C1047374909'": 102,
 "'C1047521541'": 103,
 "'C1048588440'": 104,
 "'C1048694975'": 105,
 "'C1049562739'": 106,
 "'C1049957303'": 107,
 "'C105013970'": 108,
 "'C1050458046'": 109,
 "'C1050663079'": 110,
 "'C1050807234'": 111,
 "'C1051356798'": 112,
 "'C1051682954'": 113,
 "'C1051712338'": 114,
 "'C1051985937'": 115,
 "'C1053477622'": 116,
 "'C1054818236'": 117,
 "'C1055164842'": 118,
 "'C1055224400'": 119,
 "'C1056476734'": 120,
 "'C1056640661'": 121,
 "'C1057259459'": 122,
 "'C1057285507'": 123,
 "'C1057813963'": 124,
 "'C1058213633'": 125,
 "'C105845174'": 126,
 "'C1058652489'": 127,
 "'C1058785965'": 128,
 "'C1059534096'": 129,
 "'C1059874896'": 130,
 "'C1060018471'": 131,
 "'C1060120913'": 132,
 "'C1060270098'": 133,
 "'C1060470494'": 134,
 "'C106333716'": 135,
 "'C1063753312'": 136,
 "'C106397937'": 137,
 "'C1065812935'": 138,
 "'C1066003783'": 139,
 "'C1066456457'": 140,
 "'C1067134113'": 141,
 "'C1067165398'": 142,
 "'C1067668919'": 143,
 "'C1067734462'": 144,
 "'C1068772542'": 145,
 "'C106931168'": 146,
 "'C1069635670'": 147,
 "'C1069648311'": 148,
 "'C1070277785'": 149,
 "'C1070471979'": 150,
 "'C107125195'": 151,
 "'C1072166767'": 152,
 "'C1072577677'": 153,
 "'C1073067421'": 154,
 "'C1073155388'": 155,
 "'C1073865173'": 156,
 "'C1074203200'": 157,
 "'C107438779'": 158,
 "'C10745331'": 159,
 "'C1075692577'": 160,
 "'C1075787773'": 161,
 "'C1076053396'": 162,
 "'C1076110991'": 163,
 "'C1077245673'": 164,
 "'C1078316853'": 165,
 "'C1078351181'": 166,
 "'C1078596280'": 167,
 "'C1078619612'": 168,
 "'C1079254393'": 169,
 "'C1079965849'": 170,
 "'C1080032135'": 171,
 "'C1080719046'": 172,
 "'C1080813886'": 173,
 "'C1081618305'": 174,
 "'C1081944543'": 175,
 "'C1082301057'": 176,
 "'C1082462651'": 177,
 "'C1082594377'": 178,
 "'C1082608644'": 179,
 "'C108266856'": 180,
 "'C1082732879'": 181,
 "'C1082769360'": 182,
 "'C1083375349'": 183,
 "'C1083859927'": 184,
 "'C1084001812'": 185,
 "'C1084672760'": 186,
 "'C1085056650'": 187,
 "'C1085689043'": 188,
 "'C1086957388'": 189,
 "'C1087227796'": 190,
 "'C1087747329'": 191,
 "'C1087788850'": 192,
 "'C1087943403'": 193,
 "'C108794529'": 194,
 "'C1088464518'": 195,
 "'C1088768738'": 196,
 "'C1088853847'": 197,
 "'C108940648'": 198,
 "'C1089789227'": 199,
 "'C1089848865'": 200,
 "'C1089903335'": 201,
 "'C1090046399'": 202,
 "'C1090528803'": 203,
 "'C1090604904'": 204,
 "'C1091680547'": 205,
 "'C1091966081'": 206,
 "'C1092512638'": 207,
 "'C1092769857'": 208,
 "'C1093060677'": 209,
 "'C1093826151'": 210,
 "'C1093842718'": 211,
 "'C1095087737'": 212,
 "'C1095241409'": 213,
 "'C1095604325'": 214,
 "'C1095821033'": 215,
 "'C109617474'": 216,
 "'C109634232'": 217,
 "'C1096642744'": 218,
 "'C1097812196'": 219,
 "'C1098012335'": 220,
 "'C1098443227'": 221,
 "'C109947606'": 222,
 "'C1100053869'": 223,
 "'C1100276718'": 224,
 "'C1100289413'": 225,
 "'C1100337763'": 226,
 "'C1100361227'": 227,
 "'C1100510913'": 228,
 "'C1100570635'": 229,
 "'C1101213728'": 230,
 "'C1101433185'": 231,
 "'C1101633489'": 232,
 "'C1101722853'": 233,
 "'C1102156492'": 234,
 "'C1102464953'": 235,
 "'C1104044396'": 236,
 "'C1104967901'": 237,
 "'C1105086283'": 238,
 "'C1107442215'": 239,
 "'C1107580024'": 240,
 "'C1108226372'": 241,
 "'C1108787528'": 242,
 "'C1108967401'": 243,
 "'C1110919755'": 244,
 "'C11116138'": 245,
 "'C111217068'": 246,
 "'C1112424232'": 247,
 "'C1113166893'": 248,
 "'C1114643543'": 249,
 "'C1114685649'": 250,
 "'C1116417172'": 251,
 "'C111678629'": 252,
 "'C1117259261'": 253,
 "'C1117294574'": 254,
 "'C1117403153'": 255,
 "'C1118932469'": 256,
 "'C1118984324'": 257,
 "'C1120165888'": 258,
 "'C1121327223'": 259,
 "'C1122213892'": 260,
 "'C1122303126'": 261,
 "'C1122835446'": 262,
 "'C1123042802'": 263,
 "'C1123627503'": 264,
 "'C1124449361'": 265,
 "'C1124718683'": 266,
 "'C1125132707'": 267,
 "'C1125717761'": 268,
 "'C1125832994'": 269,
 "'C1126112663'": 270,
 "'C1126297464'": 271,
 "'C1127069069'": 272,
 "'C1127607634'": 273,
 "'C1127983201'": 274,
 "'C1128349548'": 275,
 "'C1128965136'": 276,
 "'C1129111658'": 277,
 "'C1129265408'": 278,
 "'C1129461636'": 279,
 "'C1129737137'": 280,
 "'C1130259702'": 281,
 "'C1130847219'": 282,
 "'C1131883667'": 283,
 "'C1132392725'": 284,
 "'C1132565589'": 285,
 "'C113294083'": 286,
 "'C1133298590'": 287,
 "'C1133386558'": 288,
 "'C1133451243'": 289,
 "'C1134229140'": 290,
 "'C1134333439'": 291,
 "'C1134533551'": 292,
 "'C1134994937'": 293,
 "'C1135201785'": 294,
 "'C1135495199'": 295,
 "'C1135867657'": 296,
 "'C1136643517'": 297,
 "'C1136761152'": 298,
 "'C1136859577'": 299,
 "'C1137292670'": 300,
 "'C1139909458'": 301,
 "'C1139944236'": 302,
 "'C1140073765'": 303,
 "'C1140809068'": 304,
 "'C1141481813'": 305,
 "'C1141524074'": 306,
 "'C1141582476'": 307,
 "'C1142118359'": 308,
 "'C1142956269'": 309,
 "'C1143297842'": 310,
 "'C1143300850'": 311,
 "'C1143401925'": 312,
 "'C114388565'": 313,
 "'C1145304322'": 314,
 "'C11453786'": 315,
 "'C1146143839'": 316,
 "'C1147125608'": 317,
 "'C1147973334'": 318,
 "'C1148364854'": 319,
 "'C1148635270'": 320,
 "'C1148771999'": 321,
 "'C1148772789'": 322,
 "'C1149179033'": 323,
 "'C1149495561'": 324,
 "'C114981535'": 325,
 "'C1149893807'": 326,
 "'C1150646122'": 327,
 "'C1151051721'": 328,
 "'C1151600429'": 329,
 "'C1151799720'": 330,
 "'C1152092987'": 331,
 "'C1152356495'": 332,
 "'C1152835627'": 333,
 "'C1153569753'": 334,
 "'C1153792315'": 335,
 "'C1153943594'": 336,
 "'C1154612561'": 337,
 "'C1154631581'": 338,
 "'C1155259690'": 339,
 "'C115540448'": 340,
 "'C1155962240'": 341,
 "'C115603187'": 342,
 "'C1156188729'": 343,
 "'C1156346576'": 344,
 "'C1156399058'": 345,
 "'C1156509589'": 346,
 "'C1156672988'": 347,
 "'C1156745710'": 348,
 "'C1156808163'": 349,
 "'C1156885344'": 350,
 "'C1158029630'": 351,
 "'C1158233054'": 352,
 "'C1158646143'": 353,
 "'C1158738757'": 354,
 "'C1158752013'": 355,
 "'C1158875335'": 356,
 "'C1159034982'": 357,
 "'C1159279360'": 358,
 "'C1159406873'": 359,
 "'C115986226'": 360,
 "'C1160118068'": 361,
 "'C1160421902'": 362,
 "'C1161671147'": 363,
 "'C1161927918'": 364,
 "'C1161949399'": 365,
 "'C1163388474'": 366,
 "'C1163635747'": 367,
 "'C1163804561'": 368,
 "'C116386695'": 369,
 "'C1164613439'": 370,
 "'C1165343027'": 371,
 "'C1165454845'": 372,
 "'C1166075201'": 373,
 "'C1166337448'": 374,
 "'C1166355595'": 375,
 "'C116665031'": 376,
 "'C1166683343'": 377,
 "'C11668910'": 378,
 "'C1167781928'": 379,
 "'C1169655012'": 380,
 "'C1169771418'": 381,
 "'C1170049298'": 382,
 "'C117112395'": 383,
 "'C1171394321'": 384,
 "'C1171622243'": 385,
 "'C1173530601'": 386,
 "'C1174105749'": 387,
 "'C1174217921'": 388,
 "'C1174416804'": 389,
 "'C1174735331'": 390,
 "'C1175419672'": 391,
 "'C1175684338'": 392,
 "'C117577408'": 393,
 "'C1175850429'": 394,
 "'C1176114065'": 395,
 "'C1177396126'": 396,
 "'C1177478758'": 397,
 "'C1177926954'": 398,
 "'C1178005728'": 399,
 "'C1178726445'": 400,
 "'C1179217322'": 401,
 "'C1179833140'": 402,
 "'C1180570487'": 403,
 "'C1180936672'": 404,
 "'C1181615831'": 405,
 "'C1182534509'": 406,
 "'C1182825160'": 407,
 "'C118437987'": 408,
 "'C1186894186'": 409,
 "'C1186953291'": 410,
 "'C1187353931'": 411,
 "'C1187702596'": 412,
 "'C1187730955'": 413,
 "'C1187799344'": 414,
 "'C1187979419'": 415,
 "'C118836015'": 416,
 "'C1188590334'": 417,
 "'C1189224644'": 418,
 "'C1189231170'": 419,
 "'C1189367947'": 420,
 "'C1189752912'": 421,
 "'C1190687128'": 422,
 "'C1191069340'": 423,
 "'C1191796691'": 424,
 "'C1191832390'": 425,
 "'C1192557067'": 426,
 "'C119274188'": 427,
 "'C1192754222'": 428,
 "'C1192874833'": 429,
 "'C1193034305'": 430,
 "'C1193582671'": 431,
 "'C1194290880'": 432,
 "'C1194320883'": 433,
 "'C119537158'": 434,
 "'C1195893546'": 435,
 "'C1196149230'": 436,
 "'C1196357413'": 437,
 "'C1196579721'": 438,
 "'C1196611038'": 439,
 "'C1196808546'": 440,
 "'C1196915447'": 441,
 "'C1197304790'": 442,
 "'C1199767081'": 443,
 "'C1199849921'": 444,
 "'C1200227736'": 445,
 "'C1200311106'": 446,
 "'C1200336063'": 447,
 "'C1200798307'": 448,
 "'C1201696181'": 449,
 "'C1201848792'": 450,
 "'C1202775726'": 451,
 "'C120279480'": 452,
 "'C1202857292'": 453,
 "'C1203244235'": 454,
 "'C1204046804'": 455,
 "'C1204610604'": 456,
 "'C1204740969'": 457,
 "'C1204780618'": 458,
 "'C1204835011'": 459,
 "'C1205257074'": 460,
 "'C1206604144'": 461,
 "'C120661238'": 462,
 "'C1207205377'": 463,
 "'C1207877529'": 464,
 "'C1207935724'": 465,
 "'C1208123566'": 466,
 "'C1208164294'": 467,
 "'C1209363182'": 468,
 "'C1209651258'": 469,
 "'C1209743372'": 470,
 "'C1209838312'": 471,
 "'C1210957250'": 472,
 "'C1211514218'": 473,
 "'C1212956427'": 474,
 "'C1213002113'": 475,
 "'C1213984358'": 476,
 "'C1214229415'": 477,
 "'C1214279601'": 478,
 "'C1214582637'": 479,
 "'C1214587699'": 480,
 "'C1214628974'": 481,
 "'C1214780453'": 482,
 "'C1214826221'": 483,
 "'C1214828746'": 484,
 "'C1214929092'": 485,
 "'C1214964999'": 486,
 "'C1215440829'": 487,
 "'C1215446912'": 488,
 "'C1215468370'": 489,
 "'C1216409727'": 490,
 "'C1216867117'": 491,
 "'C1216919532'": 492,
 "'C121713128'": 493,
 "'C121798652'": 494,
 "'C1221114448'": 495,
 "'C1222389110'": 496,
 "'C122290547'": 497,
 "'C1223439629'": 498,
 "'C1224153830'": 499,
 "'C1224222502'": 500,
 "'C1225533078'": 501,
 "'C1225568299'": 502,
 "'C1225704566'": 503,
 "'C1225717157'": 504,
 "'C1226558289'": 505,
 "'C1226947303'": 506,
 "'C1227773968'": 507,
 "'C1228110352'": 508,
 "'C1228152586'": 509,
 "'C1228157206'": 510,
 "'C12284077'": 511,
 "'C1229072215'": 512,
 "'C1229114783'": 513,
 "'C1229674572'": 514,
 "'C1230747575'": 515,
 "'C1231572628'": 516,
 "'C1232356156'": 517,
 "'C1232523772'": 518,
 "'C1232725180'": 519,
 "'C1233238493'": 520,
 "'C1233360048'": 521,
 "'C1233405214'": 522,
 "'C123366357'": 523,
 "'C1233802034'": 524,
 "'C1233811793'": 525,
 "'C1234264195'": 526,
 "'C1234470601'": 527,
 "'C1235359960'": 528,
 "'C123623130'": 529,
 "'C1236489588'": 530,
 "'C1236503001'": 531,
 "'C1236509536'": 532,
 "'C1236533874'": 533,
 "'C1237248073'": 534,
 "'C1237272991'": 535,
 "'C1237476993'": 536,
 "'C1237709469'": 537,
 "'C1238185596'": 538,
 "'C1238755034'": 539,
 "'C1238891395'": 540,
 "'C1239061472'": 541,
 "'C1239127666'": 542,
 "'C1239154010'": 543,
 "'C1239184141'": 544,
 "'C1240209240'": 545,
 "'C1240560903'": 546,
 "'C1240746302'": 547,
 "'C1242334684'": 548,
 "'C1242643189'": 549,
 "'C1242686524'": 550,
 "'C1242770016'": 551,
 "'C1245363669'": 552,
 "'C124539163'": 553,
 "'C1246760376'": 554,
 "'C1248026439'": 555,
 "'C1248053373'": 556,
 "'C1249070059'": 557,
 "'C1249352100'": 558,
 "'C1249817283'": 559,
 "'C125143024'": 560,
 "'C1251749294'": 561,
 "'C1253245889'": 562,
 "'C1253760419'": 563,
 "'C1254064510'": 564,
 "'C1254696728'": 565,
 "'C125481968'": 566,
 "'C1255149927'": 567,
 "'C1255221015'": 568,
 "'C1255231772'": 569,
 "'C1255236689'": 570,
 "'C1255643141'": 571,
 "'C1256072323'": 572,
 "'C1256073744'": 573,
 "'C1256908044'": 574,
 "'C1257820473'": 575,
 "'C1258211852'": 576,
 "'C1258454385'": 577,
 "'C1258725927'": 578,
 "'C1258953485'": 579,
 "'C1259046770'": 580,
 "'C1259389151'": 581,
 "'C1259760240'": 582,
 "'C1261640227'": 583,
 "'C1262879702'": 584,
 "'C1263107170'": 585,
 "'C1263267362'": 586,
 "'C1263461120'": 587,
 "'C1264224372'": 588,
 "'C1264836741'": 589,
 "'C126488680'": 590,
 "'C126603077'": 591,
 "'C12662072'": 592,
 "'C1266329800'": 593,
 "'C126638730'": 594,
 "'C1267365709'": 595,
 "'C1267410030'": 596,
 "'C1267444276'": 597,
 "'C1267749701'": 598,
 "'C1267913176'": 599,
 "'C1268275182'": 600,
 "'C1269217373'": 601,
 "'C1269288419'": 602,
 "'C1269635185'": 603,
 "'C1271484467'": 604,
 "'C1271627744'": 605,
 "'C1272188168'": 606,
 "'C1272326382'": 607,
 "'C1273015960'": 608,
 "'C1273110804'": 609,
 "'C1273564839'": 610,
 "'C1273692645'": 611,
 "'C1273885837'": 612,
 "'C1274818444'": 613,
 "'C1275053057'": 614,
 "'C1275518867'": 615,
 "'C1275741147'": 616,
 "'C1276892406'": 617,
 "'C1278181986'": 618,
 "'C1279143519'": 619,
 "'C1279668658'": 620,
 "'C1279785305'": 621,
 "'C128008012'": 622,
 "'C1280960686'": 623,
 "'C1281345721'": 624,
 "'C1282114843'": 625,
 "'C1282333137'": 626,
 "'C1282628311'": 627,
 "'C1283110336'": 628,
 "'C1283534588'": 629,
 "'C1284214182'": 630,
 "'C1284327050'": 631,
 "'C1284515419'": 632,
 "'C1285086629'": 633,
 "'C1287167517'": 634,
 "'C128812892'": 635,
 "'C1288983259'": 636,
 "'C1289081546'": 637,
 "'C1289219178'": 638,
 "'C1289834917'": 639,
 "'C1289997724'": 640,
 "'C1290093162'": 641,
 "'C1290724680'": 642,
 "'C1292140369'": 643,
 "'C1292770722'": 644,
 "'C1293338142'": 645,
 "'C1293338653'": 646,
 "'C1293579037'": 647,
 "'C129386345'": 648,
 "'C1294166760'": 649,
 "'C1295444668'": 650,
 "'C129566217'": 651,
 "'C1295945354'": 652,
 "'C1296664552'": 653,
 "'C1297100897'": 654,
 "'C1297329735'": 655,
 "'C1297358265'": 656,
 "'C1297995542'": 657,
 "'C1298891864'": 658,
 "'C1299279378'": 659,
 "'C1299368401'": 660,
 "'C1299474405'": 661,
 "'C1299496226'": 662,
 "'C1299745394'": 663,
 "'C130295904'": 664,
 "'C1303226190'": 665,
 "'C1303555047'": 666,
 "'C1303695653'": 667,
 "'C1303935849'": 668,
 "'C1304285526'": 669,
 "'C1304286493'": 670,
 "'C1304555023'": 671,
 "'C1304621872'": 672,
 "'C1305161735'": 673,
 "'C1305339250'": 674,
 "'C1306889886'": 675,
 "'C1307336396'": 676,
 "'C1307916597'": 677,
 "'C1308910127'": 678,
 "'C1309027409'": 679,
 "'C1309194397'": 680,
 "'C1309403692'": 681,
 "'C130979586'": 682,
 "'C13098029'": 683,
 "'C1311947724'": 684,
 "'C131200254'": 685,
 "'C1312448128'": 686,
 "'C1312615175'": 687,
 "'C131296547'": 688,
 "'C1313060996'": 689,
 "'C1314174420'": 690,
 "'C131423135'": 691,
 "'C1314533733'": 692,
 "'C1314685160'": 693,
 "'C1315400589'": 694,
 "'C131559770'": 695,
 "'C1316160034'": 696,
 "'C1316262830'": 697,
 "'C131682780'": 698,
 "'C1316936887'": 699,
 "'C1317710133'": 700,
 "'C1318366224'": 701,
 "'C131915922'": 702,
 "'C1319350044'": 703,
 "'C1320066686'": 704,
 "'C1320820565'": 705,
 "'C1321173882'": 706,
 "'C1321650743'": 707,
 "'C1321889892'": 708,
 "'C132320296'": 709,
 "'C132392875'": 710,
 "'C1324001180'": 711,
 "'C132520837'": 712,
 "'C1325422547'": 713,
 "'C1325638360'": 714,
 "'C1326593353'": 715,
 "'C1326829513'": 716,
 "'C1327124397'": 717,
 "'C1327677398'": 718,
 "'C1329920992'": 719,
 "'C1331123896'": 720,
 "'C1331907286'": 721,
 "'C1332125345'": 722,
 "'C1332295774'": 723,
 "'C1333401746'": 724,
 "'C1333537680'": 725,
 "'C1333661820'": 726,
 "'C133401060'": 727,
 "'C1334045764'": 728,
 "'C1334227305'": 729,
 "'C133432771'": 730,
 "'C1334695551'": 731,
 "'C1335108214'": 732,
 "'C1336232196'": 733,
 "'C1337135199'": 734,
 "'C133764711'": 735,
 "'C1337923906'": 736,
 "'C1337948674'": 737,
 "'C1338020899'": 738,
 "'C1338125837'": 739,
 "'C1338396147'": 740,
 "'C1338572942'": 741,
 "'C1338727022'": 742,
 "'C1338932459'": 743,
 "'C1339724832'": 744,
 "'C1340235335'": 745,
 "'C1340398290'": 746,
 "'C1341159565'": 747,
 "'C1341517098'": 748,
 "'C1341583263'": 749,
 "'C1341662543'": 750,
 "'C1342037956'": 751,
 "'C1342118588'": 752,
 "'C1342849651'": 753,
 "'C1343106500'": 754,
 "'C1344489848'": 755,
 "'C1345265337'": 756,
 "'C1345586046'": 757,
 "'C1346358504'": 758,
 "'C1347371891'": 759,
 "'C1348847019'": 760,
 "'C1348957967'": 761,
 "'C1349086787'": 762,
 "'C1349106433'": 763,
 "'C1349321790'": 764,
 "'C1350068848'": 765,
 "'C1350082938'": 766,
 "'C1350409226'": 767,
 "'C1350793893'": 768,
 "'C1350963410'": 769,
 "'C1351087312'": 770,
 "'C1351458855'": 771,
 "'C1352750459'": 772,
 "'C1353625448'": 773,
 "'C1353776547'": 774,
 "'C1354206365'": 775,
 "'C135434041'": 776,
 "'C1354768768'": 777,
 "'C1354799046'": 778,
 "'C1354917220'": 779,
 "'C1355010178'": 780,
 "'C1355090926'": 781,
 "'C1355273346'": 782,
 "'C1355357191'": 783,
 "'C1355509614'": 784,
 "'C1356412685'": 785,
 "'C135716487'": 786,
 "'C1358079072'": 787,
 "'C1358225719'": 788,
 "'C1359092613'": 789,
 "'C1359606474'": 790,
 "'C1360225709'": 791,
 "'C1360265061'": 792,
 "'C1360481565'": 793,
 "'C1360806205'": 794,
 "'C1361037703'": 795,
 "'C1361248894'": 796,
 "'C1362652272'": 797,
 "'C1362863442'": 798,
 "'C1364381627'": 799,
 "'C1365609574'": 800,
 "'C136606306'": 801,
 "'C1366869967'": 802,
 "'C1367581052'": 803,
 "'C1367987964'": 804,
 "'C1368070837'": 805,
 "'C1368210201'": 806,
 "'C1368438034'": 807,
 "'C1369559766'": 808,
 "'C1370192017'": 809,
 "'C1370556911'": 810,
 "'C1370669821'": 811,
 "'C1372042334'": 812,
 "'C1372889664'": 813,
 "'C1373640509'": 814,
 "'C1373973501'": 815,
 "'C1374011975'": 816,
 "'C1374336520'": 817,
 "'C1374422827'": 818,
 "'C1374607221'": 819,
 "'C1374783350'": 820,
 "'C1375103798'": 821,
 "'C1375316332'": 822,
 "'C1375512856'": 823,
 "'C1375956198'": 824,
 "'C1376050027'": 825,
 "'C1376256048'": 826,
 "'C1376617526'": 827,
 "'C137688853'": 828,
 "'C1376957295'": 829,
 "'C1377339988'": 830,
 "'C1377736719'": 831,
 "'C1378412230'": 832,
 "'C1379018843'": 833,
 "'C1379814778'": 834,
 "'C137986193'": 835,
 "'C1381700589'": 836,
 "'C1382187685'": 837,
 "'C1382480007'": 838,
 "'C1383269171'": 839,
 "'C1383337902'": 840,
 "'C138375181'": 841,
 "'C138445718'": 842,
 "'C1385115265'": 843,
 "'C1385354747'": 844,
 "'C1385406679'": 845,
 "'C1385780363'": 846,
 "'C1386324281'": 847,
 "'C1387070447'": 848,
 "'C1387946894'": 849,
 "'C1388726904'": 850,
 "'C1388933025'": 851,
 "'C1389003663'": 852,
 "'C1389188684'": 853,
 "'C1389311354'": 854,
 "'C1389923471'": 855,
 "'C1390331883'": 856,
 "'C1392385769'": 857,
 "'C1392676510'": 858,
 "'C1394428191'": 859,
 "'C1394454342'": 860,
 "'C1394467199'": 861,
 "'C1394931354'": 862,
 "'C1395098424'": 863,
 "'C1396527012'": 864,
 "'C1396720108'": 865,
 "'C1396904959'": 866,
 "'C1396978257'": 867,
 "'C1397554341'": 868,
 "'C139784508'": 869,
 "'C1398865038'": 870,
 "'C1400128034'": 871,
 "'C1400397779'": 872,
 "'C1400578246'": 873,
 "'C1401244511'": 874,
 "'C1402203755'": 875,
 "'C140234280'": 876,
 "'C1402369177'": 877,

In [74]:
vertex_to_id_df = pd.DataFrame.from_dict(vertex_to_id,  orient='index', columns=['idx']).reset_index().rename(columns={"index": "name"})

In [75]:
vertex_to_id_df

               name   idx
0     'C1000148617'     0
1      'C100045114'     1
2     'C1000699316'     2
3     'C1001065306'     3
4     'C1002658784'     4
...             ...   ...
4157    'M85975013'  4157
4158   'M923029380'  4158
4159   'M933210764'  4159
4160    'M97925176'  4160
4161   'M980657600'  4161

[4162 rows x 2 columns]

In [77]:
edges_idx = np.reshape(edges_1d, [-1, 2])

In [78]:
edges_idx, len(edges_idx)

(array([[3317, 4148],
        [2363, 4154],
        [3396, 4127],
        ...,
        [ 529, 4143],
        [1083, 4130],
        [3304, 4130]]),
 47132)

### check whether the node indexes for the top 3 edge list records are correct

In [150]:
### manually checkingg the node id for the note indexes
(vertexs[3317], vertexs[4148]), (vertexs[2363], vertexs[4154]),(vertexs[3396], vertexs[4127]), (vertexs[3304], vertexs[4130])

(("'C623601481'", "'M50039827'"),
 ("'C2092526272'", "'M840466850'"),
 ("'C661876608'", "'M1741626453'"),
 ("'C616528518'", "'M1823072687'"))

In [89]:
### consistent with the raw data 
edges_deduped.head(3)

     step       customer       merchant            category  amount  fraud
12      0   'C623601481'    'M50039827'         'es_health'   68.79      0
148     0  'C2092526272'   'M840466850'           'es_tech'  163.56      0
153     0   'C661876608'  'M1741626453'  'es_sportsandtoys'   11.83      0

In [87]:
print('vertex:', len(vertexs), 'edge:', len(edges_idx))

vertex: 4162 edge: 47132

# Find labels for the edge

In [91]:
from tqdm import tqdm

In [196]:
#edge_label = {}
edge_label_arr = np.zeros([edges_deduped.shape[0], 3], dtype=np.int32)
#for index, row in tqdm(raw_trans_data.iterrows(), total=raw_trans_data.shape[0]):
for idx, row in tqdm(edges_deduped.reset_index().iterrows(), total=edges_deduped.shape[0]): #using deduped trans 
    #edge_label.setdefault((vertex_to_id[row['customer']],vertex_to_id[row['merchant']]), []).append(row['fraud'])
    edge_label_arr[idx][0] = vertex_to_id[row['customer']]
    edge_label_arr[idx][1] = vertex_to_id[row['merchant']]
    edge_label_arr[idx][2] = row['fraud']

100%|██████████| 47132/47132 [00:04<00:00, 10222.60it/s]

In [198]:
edge_label_arr.shape

(47132, 3)

In [199]:
edge_label_arr

array([[3317, 4148,    0],
       [2363, 4154,    0],
       [3396, 4127,    0],
       ...,
       [ 529, 4143,    0],
       [1083, 4130,    0],
       [3304, 4130,    0]], dtype=int32)

In [205]:
#edge_label_postprocessed_df = pd.DataFrame.from_dict(edge_label,  orient='index', columns=['label']).reset_index().rename(columns={"index": "edge"})
edge_label_postprocessed_df = pd.DataFrame(edge_label_arr, columns=['source','target','label'])

In [206]:
edge_label_postprocessed_df

       source  target  label
0        3317    4148      0
1        2363    4154      0
2        3396    4127      0
3         948    4151      0
4        2086    4155      0
...       ...     ...    ...
47127    1639    4130      0
47128    3369    4130      0
47129     529    4143      0
47130    1083    4130      0
47131    3304    4130      0

[47132 rows x 3 columns]

In [305]:
edge_label_arr[0][0], edge_label_arr[0][1], edge_label_arr[0][2]

(3317, 4148, 0)

### check again the processed data are consistent with the raw data

In [306]:
(vertexs[edge_label_arr[0][0]], vertexs[edge_label_arr[0][1]])

("'C623601481'", "'M50039827'")

In [307]:
edges_deduped.loc[(edges_deduped.customer ==vertexs[edge_label_arr[0][0]] )& (edges_deduped.merchant ==vertexs[edge_label_arr[0][1]])]

    step      customer     merchant     category  amount  fraud
12     0  'C623601481'  'M50039827'  'es_health'   68.79      0

In [308]:
#check fraud ratio
edge_label_postprocessed_df['label'].value_counts(normalize=True)

0    0.912353
1    0.087647
Name: label, dtype: float64

# Split train/test data and generate data for graph dataloader

In [161]:
edges_deduped.shape

(47132, 6)

In [162]:
edges_deduped.head(10)

     step       customer       merchant                category  amount  fraud
12      0   'C623601481'    'M50039827'             'es_health'   68.79      0
148     0  'C2092526272'   'M840466850'               'es_tech'  163.56      0
153     0   'C661876608'  'M1741626453'      'es_sportsandtoys'   11.83      0
194     0  'C1436756684'   'M692898500'             'es_health'  187.62      0
218     0  'C1960866892'   'M855959430'              'es_hyper'   22.65      0
227     0   'C991774315'   'M349281107'            'es_fashion'   79.71      0
253     0  'C1959067413'   'M209847108'  'es_wellnessandbeauty'   86.09      0
256     0  'C1465698425'  'M2122776122'               'es_home'   98.19      0
282     0   'C181787207'  'M1873032707'      'es_hotelservices'   71.76      0
283     0  'C2063978670'  'M2011752106'      'es_hotelservices'  194.59      0

In [175]:
edges_deduped.tail(10)

        step       customer       merchant             category  amount  fraud
594633   179  'C1039390058'    'M45060432'   'es_hotelservices'  190.31      0
594634   179   'C728039227'   'M348934600'  'es_transportation'   27.93      0
594635   179   'C728039227'  'M1823072687'  'es_transportation'   30.04      0
594636   179  'C1904086644'  'M1823072687'  'es_transportation'   28.93      0
594637   179   'C748358246'  'M1823072687'  'es_transportation'   51.17      0
594638   179  'C1753498738'  'M1823072687'  'es_transportation'   20.53      0
594639   179   'C650108285'  'M1823072687'  'es_transportation'   50.73      0
594640   179   'C123623130'   'M349281107'         'es_fashion'   22.44      0
594641   179  'C1499363341'  'M1823072687'  'es_transportation'   14.46      0
594642   179   'C616528518'  'M1823072687'  'es_transportation'   26.93      0

In [219]:
len(edge_label_arr), len(vertexs)

(47132, 4162)

In [273]:
vertex_to_id_df.shape, edge_label_arr.shape

((4162, 2), (47132, 3))

In [274]:
m = len(edge_label_arr) #edge number 
n = len(vertex_to_id_df) #node number

In [275]:
m,n

(47132, 4162)

In [223]:
train_per = 0.5 #split in half

In [224]:
train_num = int(np.floor(train_per * m))
train_num

23566

In [233]:
train = edge_label_arr[0:train_num, :] #first half being training samples
test = edge_label_arr[train_num:, :] #second half being test samples

In [227]:
train.shape, test.shape

((23566, 3), (23566, 3))

In [229]:
train[:10,:]

array([[3317, 4148,    0],
       [2363, 4154,    0],
       [3396, 4127,    0],
       [ 948, 4151,    0],
       [2086, 4155,    0],
       [4094, 4143,    0],
       [2079, 4139,    0],
       [1008, 4140,    0],
       [1784, 4133,    0],
       [2306, 4137,    0]], dtype=int32)

In [230]:
edge_label_postprocessed_df.head(10)

   source  target  label
0    3317    4148      0
1    2363    4154      0
2    3396    4127      0
3     948    4151      0
4    2086    4155      0
5    4094    4143      0
6    2079    4139      0
7    1008    4140      0
8    1784    4133      0
9    2306    4137      0

In [231]:
test[-10:,:]

array([[  86, 4145,    0],
       [3520, 4142,    0],
       [3520, 4130,    0],
       [1963, 4130,    0],
       [3564, 4130,    0],
       [1639, 4130,    0],
       [3369, 4130,    0],
       [ 529, 4143,    0],
       [1083, 4130,    0],
       [3304, 4130,    0]], dtype=int32)

In [232]:
edge_label_postprocessed_df.tail(10)

       source  target  label
47122      86    4145      0
47123    3520    4142      0
47124    3520    4130      0
47125    1963    4130      0
47126    3564    4130      0
47127    1639    4130      0
47128    3369    4130      0
47129     529    4143      0
47130    1083    4130      0
47131    3304    4130      0

# Save edge list into sparse matrix

In [245]:
from scipy.sparse import csr_matrix,coo_matrix,eye

In [237]:
train_mat = csr_matrix(
    (np.ones([np.size(train, 0)], dtype=np.int32), 
     (train[:, 0], train[:, 1])),
    shape=(n, n))

In [239]:
train_mat.shape

(4162, 4162)

In [240]:
train_mat = train_mat + train_mat.transpose() #enforce symmetry

In [242]:
train_mat[3317,4148], train_mat[4148,3317]

(1, 1)

In [244]:
train_mat[86,4145], train_mat[4145,86] #being 0 because this edge is in the test set

(0, 0)

In [246]:
train_mat = (train_mat + train_mat.transpose() + eye(n)).tolil()

In [248]:
train_mat[3317,4148], train_mat[4148,3317]

(2.0, 2.0)

In [249]:
train_mat[86,4145], train_mat[4145,86]

(0.0, 0.0)

In [250]:
train_mat[0,0], train_mat[1,1]

(1.0, 1.0)

In [251]:
headtail = train_mat.rows #store the indexes of edges

In [252]:
headtail

array([list([0, 4119, 4127, 4134, 4136, 4146, 4154]),
       list([1, 4121, 4122, 4133, 4140, 4146, 4149, 4151, 4152, 4155]),
       list([2, 4112, 4130, 4134, 4136, 4142, 4155, 4157]), ...,
       list([46, 147, 769, 1100, 1453, 1478, 1539, 1554, 1632, 1654, 1660, 1782, 1917, 1993, 2187, 2387, 2413, 2473, 2594, 2624, 2626, 2772, 2816, 2844, 2903, 2981, 3036, 3104, 3303, 3326, 3412, 3438, 3442, 3488, 3685, 3871, 4159]),
       list([25, 48, 50, 61, 94, 108, 111, 123, 126, 137, 144, 149, 173, 188, 210, 224, 275, 289, 291, 295, 297, 302, 323, 330, 355, 365, 409, 415, 416, 497, 498, 509, 510, 529, 530, 552, 556, 571, 588, 593, 595, 613, 617, 629, 676, 706, 707, 751, 773, 793, 801, 808, 818, 821, 832, 848, 867, 868, 870, 889, 890, 893, 919, 961, 964, 997, 1000, 1007, 1017, 1050, 1064, 1076, 1079, 1080, 1086, 1138, 1141, 1143, 1151, 1156, 1241, 1270, 1281, 1287, 1374, 1385, 1398, 1413, 1416, 1425, 1452, 1507, 1521, 1530, 1534, 1548, 1553, 1557, 1584, 1586, 1607, 1611, 1616, 1617, 1654, 1661, 1662, 1664, 1672, 1675, 1735, 1785, 1816, 1874, 1890, 1912, 1936, 1941, 1943, 1946, 1949, 1970, 1981, 2043, 2062, 2074, 2080, 2096, 2101, 2112, 2118, 2141, 2143, 2151, 2153, 2175, 2176, 2235, 2293, 2363, 2383, 2400, 2404, 2412, 2422, 2423, 2424, 2430, 2445, 2452, 2487, 2569, 2603, 2630, 2638, 2643, 2656, 2698, 2700, 2701, 2733, 2746, 2756, 2769, 2788, 2802, 2814, 2845, 2848, 2851, 2852, 2863, 2869, 2874, 2890, 2896, 2899, 2916, 2957, 2984, 2989, 3043, 3057, 3072, 3075, 3096, 3121, 3125, 3127, 3145, 3172, 3205, 3212, 3213, 3229, 3230, 3233, 3255, 3273, 3322, 3384, 3421, 3448, 3455, 3458, 3461, 3483, 3497, 3498, 3535, 3539, 3543, 3546, 3549, 3568, 3583, 3606, 3632, 3658, 3664, 3672, 3673, 3676, 3677, 3705, 3742, 3767, 3802, 3809, 3811, 3819, 3823, 3826, 3832, 3908, 3914, 3930, 3942, 4001, 4011, 4012, 4013, 4039, 4042, 4052, 4061, 4064, 4074, 4084, 4104, 4106, 4160]),
       list([15, 24, 25, 38, 41, 48, 50, 75, 78, 98, 109, 119, 122, 147, 156, 169, 171, 173, 187, 232, 246, 247, 261, 283, 290, 291, 308, 315, 318, 320, 322, 362, 366, 373, 374, 383, 386, 404, 405, 423, 434, 437, 439, 450, 467, 476, 484, 485, 501, 522, 533, 534, 539, 562, 568, 581, 594, 602, 611, 624, 638, 647, 649, 658, 671, 678, 682, 687, 706, 709, 713, 718, 720, 722, 727, 729, 739, 762, 764, 772, 787, 801, 812, 813, 839, 847, 853, 861, 870, 886, 891, 901, 909, 915, 918, 923, 929, 935, 936, 948, 969, 975, 978, 1001, 1002, 1033, 1034, 1038, 1039, 1043, 1050, 1059, 1063, 1078, 1084, 1085, 1089, 1098, 1112, 1119, 1121, 1133, 1134, 1165, 1173, 1197, 1200, 1209, 1217, 1222, 1226, 1230, 1235, 1236, 1238, 1268, 1282, 1296, 1300, 1322, 1341, 1363, 1365, 1411, 1416, 1421, 1428, 1444, 1453, 1481, 1492, 1505, 1506, 1519, 1533, 1545, 1570, 1581, 1598, 1610, 1619, 1624, 1626, 1628, 1632, 1637, 1638, 1640, 1654, 1659, 1671, 1679, 1693, 1708, 1713, 1715, 1720, 1724, 1733, 1746, 1770, 1773, 1788, 1791, 1796, 1801, 1809, 1813, 1815, 1836, 1843, 1848, 1859, 1881, 1886, 1889, 1905, 1909, 1926, 1933, 1939, 1945, 1947, 1955, 1962, 1976, 2009, 2012, 2019, 2023, 2051, 2052, 2069, 2078, 2080, 2088, 2097, 2128, 2132, 2138, 2146, 2159, 2167, 2168, 2181, 2188, 2197, 2198, 2204, 2209, 2221, 2224, 2228, 2232, 2234, 2235, 2236, 2248, 2249, 2272, 2279, 2281, 2282, 2287, 2294, 2295, 2307, 2323, 2335, 2338, 2346, 2347, 2353, 2364, 2365, 2366, 2373, 2376, 2387, 2407, 2410, 2420, 2432, 2435, 2437, 2449, 2452, 2455, 2456, 2465, 2473, 2480, 2488, 2495, 2497, 2501, 2510, 2517, 2537, 2539, 2548, 2555, 2560, 2561, 2572, 2574, 2585, 2586, 2589, 2594, 2599, 2609, 2615, 2624, 2629, 2640, 2645, 2651, 2654, 2661, 2668, 2683, 2688, 2697, 2702, 2711, 2723, 2724, 2726, 2729, 2734, 2738, 2744, 2756, 2758, 2772, 2784, 2799, 2803, 2804, 2805, 2811, 2818, 2824, 2839, 2844, 2862, 2863, 2867, 2874, 2883, 2885, 2901, 2903, 2918, 2921, 2938, 2940, 2942, 2949, 2952, 2954, 2955, 2963, 2964, 2981, 2983, 3002, 3009, 3018, 3034, 3042, 3054, 3082, 3085, 3105, 3116, 3121, 3127, 3129, 3130, 3149, 3154, 3161, 3162, 3165, 3186, 3188, 3204, 3206, 3208, 3219, 3226, 3234, 3245, 3246, 3247, 3251, 3274, 3277, 3296, 3301, 3302, 3303, 3310, 3318, 3325, 3329, 3353, 3360, 3365, 3370, 3381, 3386, 3390, 3392, 3394, 3400, 3404, 3412, 3438, 3442, 3444, 3459, 3466, 3467, 3488, 3494, 3497, 3503, 3512, 3517, 3525, 3528, 3529, 3534, 3535, 3538, 3559, 3569, 3590, 3595, 3608, 3609, 3616, 3620, 3641, 3643, 3644, 3649, 3652, 3654, 3663, 3693, 3695, 3699, 3721, 3749, 3764, 3775, 3781, 3784, 3787, 3811, 3816, 3821, 3833, 3835, 3856, 3859, 3860, 3871, 3885, 3887, 3895, 3897, 3903, 3911, 3934, 3940, 3946, 3951, 3954, 3963, 3966, 3968, 3973, 3986, 3993, 3995, 4002, 4012, 4031, 4033, 4039, 4047, 4058, 4061, 4071, 4079, 4081, 4090, 4096, 4102, 4161])],
      dtype=object)

In [254]:
#check degrees of each source node 
degrees = np.array([len(x) for x in headtail])

# Creating snapshots of graphs for the dataloader of TADDY model

In [257]:
snap_size=5000

In [256]:
len(train), len(test)

(23566, 23566)

In [258]:
train_size = int(len(train) / snap_size + 0.5) #making slices of snapshots
test_size = int(len(test) / snap_size + 0.5)

In [259]:
train_size, test_size

(5, 5)

In [260]:
rows = []
cols = []
weis = []
labs = []
for ii in range(train_size):
    start_loc = ii * snap_size
    end_loc = (ii + 1) * snap_size

    row = np.array(train[start_loc:end_loc, 0], dtype=np.int32)
    col = np.array(train[start_loc:end_loc, 1], dtype=np.int32)
    lab = np.array(train[start_loc:end_loc, 2], dtype=np.int32)
    wei = np.ones_like(row, dtype=np.int32)

    rows.append(row)
    cols.append(col)
    weis.append(wei) #weights
    labs.append(lab) #label

In [261]:
for i in range(test_size):
    start_loc = i * snap_size
    end_loc = (i + 1) * snap_size

    row = np.array(test[start_loc:end_loc, 0], dtype=np.int32)
    col = np.array(test[start_loc:end_loc, 1], dtype=np.int32)
    lab = np.array(test[start_loc:end_loc, 2], dtype=np.int32)
    wei = np.ones_like(row, dtype=np.int32)

    rows.append(row)
    cols.append(col)
    weis.append(wei)
    labs.append(lab)

In [264]:
len(rows), rows[0].shape

(10, (5000,))

In [265]:
rows[0]

array([3317, 2363, 3396, ..., 1738, 2754, 2754], dtype=int32)

In [266]:
len(cols), cols[0].shape

(10, (5000,))

In [267]:
cols[0]

array([4148, 4154, 4127, ..., 4132, 4146, 4148], dtype=int32)

In [269]:
len(labs), labs[0].shape

(10, (5000,))

In [270]:
labs[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int32)

### check intermediate processed data

In [284]:
edge_data_loaded = np.load("../../data/02_intermediate/edge_list.npz")

In [287]:
type(edge_data_loaded)

numpy.lib.npyio.NpzFile

In [288]:
edge_data_loaded['data']

array([[3317, 4148,    0],
       [2363, 4154,    0],
       [3396, 4127,    0],
       ...,
       [ 529, 4143,    0],
       [1083, 4130,    0],
       [3304, 4130,    0]], dtype=int32)

# References

Edgar Alonso Lopez-Rojas and Stefan Axelsson. 2014. BANKSIM: A BANK PAYMENTS SIMULATOR FOR FRAUD DETECTION RESEARCH.

Yixin Liu, Shirui Pan, Yu Guang Wang, Fei Xiong, Liang Wang, Qingfeng Chen, and Vincent CS Lee. 2015. Anomaly Detection in Dynamic Graphs via Transformer.