# Notebook for data split and transform for static graph model 
## This notebook consists of steps to 
1. process raw data into edge, node list data for the data loader for model training 
2. train/test data split

In [ ]:
import pandas as pd
import numpy as np

# Load raw data

In [2]:
raw_data_path = '../../data/01_raw/financial_fraud/bs140513_032310.csv'

In [3]:
raw_trans_data = pd.read_csv(raw_data_path)

In [4]:
raw_trans_data.shape

(594643, 10)

# save deduped (customer, merchant) trans as static heterogeneous graph

In [303]:
trans_deduped = raw_trans_data.drop_duplicates(subset=['customer','merchant'], keep='last', )

In [304]:
trans_deduped.head(10)

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
12,0,'C623601481','3','M','28007','M50039827','28007','es_health',68.79,0
148,0,'C2092526272','6','F','28007','M840466850','28007','es_tech',163.56,0
153,0,'C661876608','1','F','28007','M1741626453','28007','es_sportsandtoys',11.83,0
194,0,'C1436756684','2','F','28007','M692898500','28007','es_health',187.62,0
218,0,'C1960866892','2','M','28007','M855959430','28007','es_hyper',22.65,0
227,0,'C991774315','3','F','28007','M349281107','28007','es_fashion',79.71,0
253,0,'C1959067413','4','M','28007','M209847108','28007','es_wellnessandbeauty',86.09,0
256,0,'C1465698425','2','M','28007','M2122776122','28007','es_home',98.19,0
282,0,'C181787207','3','M','28007','M1873032707','28007','es_hotelservices',71.76,0
283,0,'C2063978670','2','M','28007','M2011752106','28007','es_hotelservices',194.59,0